<div class="tag-picker">
  <app-entity-select
    [items]="tags"
    [selectedIds]="selectedTagIds"
    (selectedIdsChange)="onSelectedChange($event)"
    [labelFn]="tagLabel"
    [colorFn]="tagColor"
    addLabel="Add tag"
    emptyMessage="No more tags to add"
  />

  @if (allowCreate) {
    <app-popover [open]="showTagForm" (backdropClick)="showTagForm = false">
      <app-chip popoverTrigger label="Create tag" variant="action" [icon]="faPlus" (click)="showTagForm = true" />
      <app-tag-form
        [existingTypes]="existingTypes"
        (saved)="onTagFormSaved($event)"
        (cancelled)="showTagForm = false"
      />
    </app-popover>
  }
</div>
