<nav class="navbar">
  <span class="navbar__brand">Financely</span>
  <div class="navbar__links">
    <a class="navbar__link" routerLink="/tags" routerLinkActive="navbar__link--active"> Tags </a>
    <a class="navbar__link" routerLink="/categories" routerLinkActive="navbar__link--active"> Categories </a>
    <a class="navbar__link" routerLink="/movements" routerLinkActive="navbar__link--active"> Movements </a>
    <a class="navbar__link" routerLink="/envelopes" routerLinkActive="navbar__link--active"> Envelopes </a>
    <a class="navbar__link" routerLink="/accounts" routerLinkActive="navbar__link--active"> Accounts </a>
    <a class="navbar__link" routerLink="/settings" routerLinkActive="navbar__link--active"> Settings </a>
  </div>
  <app-quick-create-movement-button buttonClass="btn btn--primary navbar__cta" />
</nav>
